DATABASE_CONN=mongodb+srv://jbarrington:1234qwer@cluster0-wrl8o.mongodb.net/test?retryWrites=true&w=majorityDATABASE_CONN = mongodb+srv://jbarrington:p455w0rd@cluster0-wrl8o.mongodb.net/test?retryWrites=true&w=majority